body
{
    font-size: 120%;
    margin-left: 4.5%;
}
table
{
    width: 95%;
    border: 1px solid black;
    border-collapse : collapse;
}
td,th
{
    border: 1px solid black;
    text-align: center;
}
#gra
{
    background-color: rgb(209, 208, 208);
}

#litgra
{
    background-color:rgb(182, 182, 182);
}

#cap
{
    font-size: 150%;
    color: black;
}